.details-container {
  /* display: flex; */
}

.details-wrapper {
  width: 100%;
  border: 2px solid orange;
}

.details-wrapper + .details-wrapper {
  padding: 0 2em;
}


.detailsimg-container {
  height: min(70vw, 40em);
  position: relative;
}

@media screen and (min-width: 800px) {
  .details-container {
    display: flex;
  }
}